# Python
__pycache__/
*.sqlite3
*.log
*.pot
*.pyc
env/
venv/
ENV/

# Django specific
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode & JetBrains IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*

# Node.js / React
node_modules/
build/
dist/
dist-ssr/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log*
lerna-debug.log*
package-lock.json
*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Django migrations (ignore migration files but keep __init__.py)
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Ignore all PDF files
*.pdf


